.body{
     background-color:rgb(217,221,241);
     margin-left: 10%;

}

.general{
  color: white;
  margin-left: 10%;
}

ul{
    list-style: none;
    
}

ul li a{
    color: aqua;
    text-decoration:none
}

nav li {
    float: left;
    padding: 1% 6% 1% 6%;
    text-align: center;
    background-color: red;
    font-size: large;
    font-weight: 900;
}
nav li:hover{
    background-color: darkred;
}


td{
    padding: 25px;
    padding-left: 100px;
  
        
}
